# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT = 3100
SIGNER_PRIVATE_KEY = 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
ACCOUNT_ADDRESS = 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

ETHEREUM_NETWORK = http://hardhat:8545
CONTRACT_ADDRESS = 0x5FbDB2315678afecb367f032d93F642f64180aa3

AUCTION_END_TIME = 90000000000000
BENEFICIARY_ADDRESS = 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# 
# ETHEREUM_NETWORK = sepolia
# INFURA_API_KEY = 20d62bd7da7c4832b9be2881f2d345d5

# LOCAL_ETHEREUM_NETWORK = http://localhost:8545

# SIGNER_PRIVATE_KEY = 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
# CONTRACT_ADDRESS = 0xB7f8BC63BbcaD18155201308C8f3540b07f84F5e
# ACCOUNT_ADDRESS = 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# ALCHEMY_API_KEY = RQtwZLXQwumK4zCvfzeylU56r1W1Gkok
# ALCHEMY_ETH_NETWORK = https://eth-sepolia.g.alchemy.com/v2/RQtwZLXQwumK4zCvfzeylU56r1W1Gkok

# METAMASK_ACCOUNT_KEY = ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# USE_LOCAL_NODE = true